<%= form_with(model: folder, local: true) do |form| %>
  <div class="actions">
  <div class="row">
    <%=form.label :folder_name%>
    <%=form.text_field :folder_name %>
  </div>
  <%= form.hidden_field :folder_parent_id, value: @parent_folder%>
<br>

    <%= form.submit %>
  </div>
<% end %>
