<p id="notice"><%= notice %></p>

<h1>Folder Files</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folder_files.each do |folder_file| %>
      <tr>
        <td><%= link_to 'Show', folder_file %></td>
        <td><%= link_to 'Edit', edit_folder_file_path(folder_file) %></td>
        <td><%= link_to 'Destroy', folder_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folder File', new_folder_file_path %>
